<article class="project">
    <h2 class="project-header">
        <%= name %>
    </h2>
    <div>
        <%= description %>
    </div>
    <div class="project-links">
        <% links.forEach(function(link){ %>
            <a href="<%= link.href %>" target="_blank"><%= link.text %></a>
        <% }) %>
    </div>
</article>