<article class="project">
    <h2>
        <%= name %>
    </h2>
    <div>
        <%= description %>
    </div>
    <% links.forEach(function(link){ %>
        <a href="<%= link.href %>" target="_blank"><%= link.text %></a>
    <% }) %>
</article>