<!DOCTYPE html>
<html lang="en">

<head>
    <title>A dev who loves the web | rcasto.dev</title>
    <meta name="description"
        content="A dev who loves the web, welcome to my site! Mainly glue for linking out to my projects and providing a little intro and context about me. Anyway cheers!">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <main>
        <img src="/images/me.jpg" alt="Just a picture of me">
        <social-contact github="rcasto" linkedin="rcasto"></social-contact>
        <a href="https://cupandpen.com" target="_blank">Cup & Pen - Another little site of mine</a>
    </main>

    <script async src="/scripts/index.js"></script>
</body>

</html>