<!DOCTYPE html>
<html lang="en">

<head>
    <title>rcasto.dev</title>
    <meta name="description" content="A dev who loves the web | rcasto.dev">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <main>
        <img src="/images/me.jpg" alt="Just a picture of me">
        <social-contact
            github="rcasto"
            linkedin="rcasto">
        </social-contact>
        <a href="https://cupandpen.com">Cup & Pen - Another little site of mine</a>
    </main>

    <script async src="https://cdn.jsdelivr.net/npm/social-contact@1.0.8/dist/socialcontact.min.js"></script>
</body>

</html>