*, *::before, *::after {
    box-sizing: border-box;
}

html, body, main {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-color: #F1E8DC;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main * {
    margin-bottom: 12px;
}
main *:last-child {
    margin-bottom: 0;
}

main img {
    border-radius: 50%;
    max-width: 100%;
    transition: linear transform 2s;
    transform: rotate(0deg);
}
main img:hover, main img:active {
    transform: rotate(360deg);
}