*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --rotation-matrix: 1, 1, 0;

  --background-color: #fff0e0;
  --profile-image-box-shadow-color: #e8fff5;
  --profile-links-background-color: #fdf9f1;
  --profile-links-border-color: #a3ccc9;
  --profile-links-focus-visible-border-color: #f4d6d7;

  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: "Courier New", Courier, monospace; */
  /* font-family: Georgia, "Times New Roman", Times, serif; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* .blurb-container {
  display: flex;
  flex-direction: column;
  background-color: var(--blurb-background-color);
  padding: 2rem;
  border: 2px solid var(--border-color);
} */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: auto;
}
main ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style-type: none;
  padding: 1rem;
  margin: 0;
  background-color: var(--profile-links-background-color);
  border: 3px solid var(--profile-links-border-color);
  width: 100%;
}
main ul li a {
  display: block;
  transition: transform 1s;
  border-bottom: 3px solid transparent;
}
main ul li a:hover,
main ul li a:focus-visible {
  transform: scale(1.1);
  border-bottom: 3px solid var(--profile-links-focus-visible-border-color);
  outline: none;
}
main ul li a img {
  height: 64px;
}

.profile-image-container {
  /* animation: 8s linear infinite running box-shadow-pulse; */
  animation-delay: 1s;
  border-radius: 50%;
  margin: 2rem;
}

.profile-image {
  display: block;
  border-radius: 50%;
  max-width: 100%;
  height: 256px;
  width: 256px;
}
.profile-image:hover,
.profile-image:active {
  animation: 3s linear infinite running rotation-3d;
}

@keyframes rotation-3d {
  from {
    transform: rotate3d(0);
  }
  to {
    transform: rotate3d(var(--rotation-matrix), 360deg);
  }
}

/* @keyframes box-shadow-pulse {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0px 0px 512px 512px var(--profile-image-box-shadow-color);
  }
  100% {
    box-shadow: none;
  }
} */

/* .scroll-to-projects {
  display: flex;
  font-size: 2.5rem;
} */

.ball {
  position: absolute;
  background-color: transparent;
  border-radius: 50%;
  z-index: -1;
  animation: 12s linear infinite running scale;
  animation-delay: 2s;
  animation-fill-mode: both;
}

.ball-r {
  top: 25%;
  left: 50%;
  box-shadow: 0px 0px 48px 24px red;
}
.ball-g {
  left: 25%;
  top: 75%;
  box-shadow: 0px 0px 48px 24px green;
}
.ball-b {
  top: 75%;
  right: 25%;
  box-shadow: 0px 0px 48px 24px blue;
}

@keyframes scale {
  0% {
    transform: scale(0);
  }
  40% {
    transform: scale(10);
  }
  80%,
  100% {
    transform: scale(0);
  }
}
